@using DefaultMessager.BLL.Implementation;
@using DefaultMessager.Domain.Entities;
@using DefaultMessager.Domain.Enums;
@model Post

<div class="modal-dialog modal-xl">
    <div class="modal-content bg-dark">
        <div class="modal-header">
            <h5 class="modal-title text-white" id="staticBackdropLabel">@Model.Title</h5>
            <button type="button" onclick="removeConnectFromGroup()" class="btn-close btn-close-white" data-bs-dismiss="modal" onclick="page=0" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background: #383B40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="container bg-dark mb-3" style="width: 100%; height: 420px; padding: 0;">
                            <img src="@Model.PathPictures[0]" onload="startSignalR()" class="object-fit-scale" style="width: 100%; height: 100%;" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="@Model.Account.Description.PathAvatar" class="rounded-circle me-auto ms-2 my-1 mb-2" alt="avatar image" height="25" width="25">
                        <p class="h6 ms-2 mt-2 text-white" style="display: inline-block">
                            <a class="text-white" asp-controller="Account" asp-action="Index" asp-route-login="@Model.Account.Login">@Model.Account.Login</a>
                        </p>
                        <p id="postIdDiv" style="display:none">@Model.Id</p>
                        <p id="UserName" style="display:none">@User.Identity.Name</p>
                        <p class="text-white">@Model.PostTextContent</p>
                        <div id="LikeCount" onclick="ChengeLike({data:'@Model.Id'})">
                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="white" class="bi bi-heart my-2 ms-1 mt-1" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                            <p class="h6 ms-2 mt-1 text-white" style="display: inline-block">@Model.Likes.Count likes</p>
                        </div>
                        <p class="h6 ms-3 mt-1 me-auto text-white" style="display: inline-block">@Model.SendDateTime.ToString()</p>

                        <div class="overflow-y-auto overflow-x-hidden text-white mt-2" style="width: 100%; height: 270px;" onscroll="loadCommentItems()" 
                            id="scrolCommentList">
                            @await Html.PartialAsync("~/Views/Comment/_comments.cshtml",Model.Comments.OrderByDescending(x=>x.DatePublicate).Take(StandartConst.countCommentsOnOneLoad))
                        </div>
                        <input onkeydown="sndBtnClk()" id="commentField" type="text" class="form-control mb-2 mt-3" placeholder="Add a comment" style="display: inline-block; width: 65%;">
                        <button id="sndCommBtn" type="button" class="btn btn-outline-dark text-white ms-3 mt-0" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-mdb-ripple-color="dark"
                                style="z-index: 1;" onclick="CreateCommentOnPost({url:'/Comment/SendComment',data:'@Model.Id'});">
                            Add a comment
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    GetLikes({data:'@Model.Id'});
</script>
<script src="~/js/SignalRComments.js"></script>