@using DefaultMessager.Domain.ViewModel.PostModel;
@model IEnumerable<PostIconViewModel>

<div class="container-fluid">
    <div class="row">
        @foreach (var post in Model)
        {                        
            <div class="col-md-2 my-2">
                <div id="@post.Id" onclick="OpenPostModelWindow({url:'/Post/FullPost',data:'@post.Id'})" class="rounded-4 float-start post mb-2" data-bs-target="#staticBackdrop">
                    <img src="@post.AccountViewModel.PathAvatar.PathAvatar" class="rounded-circle me-auto ms-2 my-1 mb-2" alt="avatar image" height="25" width="25">
                    <p class="h6 ms-1 mt-2 text-white" style="display: inline-block">@post.AccountViewModel.Login</p>
                    <div class=" bg-dark mb-3" style="width: 100%; height: 200px; padding: 0;margin:0px;">
                        <img src="@post.PathPictures[0]" class="object-fit-scale" style="width: 100%; height: 100%;" alt="">
                    </div>
                </div>
            </div>
        }        
    </div>
</div>

@section modalWindow {
    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        
    </div>
}

<script src="~/js/modalWindow.js"></script>